<p id="notice"><%= notice %></p>

<br>

<%= button_to 'Return to Forum', posts_path, :method => 'get' %>

<h1>Main Thread</h1>

<table>
  <thead>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Body</th>
    <th>Created At</th>
  <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <% if @post.is_anon %>
            <td class="author">anonymous</td>
        <% else %>
            <td class="author"><%= "#{@post.user.firstname} #{@post.user.surname}" %></td>
        <% end %>
        <td><%= @post.title %></td>
        <td><%= @post.body %></td>
        <td><%= @post.created_at.strftime('%d/%m/%Y %H:%M') %></td>
      </tr>
  </tbody>
</table>

<h1>Posts</h1>

<%= button_to 'New Comment', new_post_comment_path, :method =>'get' %>


<%
  def draw_tree(comments, id)
    comments.select{ |item| item.parent_id == id }.each do |comment|
%>
      <% if comment.is_anon %>
          anonymous
      <% else %>
          <%= "#{comment.user.firstname} #{comment.user.surname}" %>
      <% end %>
      <br>
      <b><%= comment.title %></b>
      <p><%= comment.body%></p>
      <p>
        <%= comment.created_at.strftime('%d/%m/%Y %H:%M') %> (<%= time_ago_in_words(comment.created_at) %> ago)
        <%= link_to 'Reply', new_post_comment_path(:parent_id => comment) %>
        <% if is_admin? || comment.user.id == current_user.id %>
          <%= link_to 'Destroy', post_comment_path(@post.id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
      <br>
      <ol><% draw_tree(comments, comment.id) %></ol>
    </ul>
  <% end; nil %>
<% end %>

<%= draw_tree(@post.comments, nil) %>